body {
    background-color: white;
    background-image: url(background.png);
    background-repeat: repeat-x;
     }
h1 {
    font-family: comic sans ms;
    color: darkblue;	
    text-align: center;
    font-size: 80px;
}
h4 {
	text-align: center;
	font-style: italic;
	font-family: arial;
}
p {
	text-align: justify;
	text-indent: 50px;
	font-family:  verdana;
}
.p1 {
	text-indent: 50px;
	font-family: verdana;
	color: darkred;


}
h3 {
	font-variant: small-caps;
	text-align: center;
}
#p2 {
     line-height: 30px;
    }